// variables
$bold-weight:700;
$text-color:#212529;
// $back-color:red;
$back-color:#1D809F;
$content-size:32px;
$font-family:Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
// mixins
@mixin column {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
@mixin btn{
    width: 176px;
    height: 66px;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 6px;
}
@mixin section-name{
    font-size: 16px;
    color: #ECB807;
    text-align: center;
    font-weight: $bold-weight;
}

body{
    font-family: $font-family;
    color: $text-color;
    box-sizing: border-box;
}

// INTRO SECTION 
.intro-section{
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url(../assets/images/intro-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .header{
        position: relative;
        cursor: pointer;
        .svg-box{
            position: fixed;
            top:15px;
            right: 15px;
            width: 50px;
            height: 50px;
            background-color: #343A4080;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                color: #fff;
                width: 14px;
                height: 16px;
            }  
        }
        :hover{
            background-color: $text-color;
        }
    }
    .intro-main{
        @include column();
        justify-content: center;
        align-items: center;
        height: 100%;
        h1{
            font-size: 88px;
            padding-bottom: 20px;
            font-weight:$bold-weight;
        }
        p{
            font-size: 28px;
            font-style: italic;
            font-weight: $bold-weight;
            padding-bottom: 50px;
        }
        button{
            background-color: $back-color;
            @include btn();
            cursor: pointer;
        }
        .intro-main-btn:hover{
            background-color: #17667f;
            transition: background-color 0.25s;
        }
    }
}

//ABOUT-SECTION
.about-section{
    margin: 0 auto;
    width: 60%;
    height: 60vh;
    text-align: center;
    @include column();
    &-title{
        font-weight: $bold-weight;
        font-size: $content-size;
    }
    &-content{
       font-weight: 300;
       font-size: 20px;
       padding: 20px 0 50px;
       a{
        color: $back-color;
       }
    }
    
    button{
        @include btn();
        background-color: $text-color;
        cursor: pointer;
    }
    button:hover{
        background-color: #373b3e;
        transition: background-color 0.25s;
    }
}

// SERVICES-SECTION
.services-section{
    height: 70vh;
    background-color: $back-color;
    @include column();
    &-cards{
        display: flex;
        &-top,&-bottom{
            display: flex;
            justify-content: space-between;
            .services-section-card{
                width: 300px;
                padding: 0 10px;
                color: #fff;
                @include column();
                &-icon{
                    width: 112px;
                    height: 112px;
                    border-radius: 50%;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 30px;
                        color: $back-color;
                    }
                }
                &-title{
                    font-size: 24px;
                    font-weight: $bold-weight;
                    padding: 15px 0;
                    
                }
                &-content{
                    color: #FFFFFFB3;
                }
            }
        }
    }
    &-name{
        @include section-name();
    }
    &-title{
        font-size: 48px;
        font-weight: $bold-weight;
        color: #fff;
        padding: 10px 0 60px;
    }
}

// DOWNLOAD SECTION
.download-section{
    height: 95vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url('../assets/images/back-img.jpg');
    @include column();
    &-title{
        font-size: 56px;
        font-weight: $bold-weight;
        text-align: center;
        line-height: 1.2;
        padding-bottom: 50px;
        span{
            font-style: italic;
        }
    }
    &-btn{
        background-color: $back-color;
        @include btn();
        cursor: pointer;
    }
   
    button:hover{
        background-color: #17667f;
        transition: background-color 0.25s;
    }

}


// PORTFOLIO
.portfolio-section{
    padding: 100px 0;
    width: 60%;
    margin: 0 auto;
    @include column;
    &-name{
        @include section-name();
    }
    &-title{
        font-size: 48px;
        font-weight: $bold-weight;
        padding: 10px 0 30px;
    }
    &-cards{
        display: flex;
        flex-direction: column;
        &-top,&-bottom{
            display: flex;
            width: 100%;
            .portfolio-card{
                cursor: pointer;
                width: 612px;
                height: 408px;
                position: relative;
                z-index: 10;
                
                :hover img{
                    transform: none;
                    opacity: 0.3;
                }
                :hover {
                    transition-duration: 1s;
                    transform: scale(0.90,0.86);
                    background: #1D809F;
                } 
                &-img{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &-content{
                    transition: none !important;
                    color: #fff;
                    position: absolute;
                    width: 80%;
                    bottom: 60px;
                    left: 60px;
                    z-index: 9;
                    
                }
                h5{
                    transform: none;
                    font-size: 12.8px;
                    font-weight: $bold-weight;
                    padding-bottom: 10px;
                }
                p{
                    transform: none;
                    font-weight: 300;
                    font-size: 19.2px;
                }
            }
        }
    }
}

// MAP SECTION
.map-section{
    
    &-top{
        background-color: $back-color;
        @include column();
        height: 50vh;
    }
    &-title{
        color: #fff;
        font-size: 32px;
        font-weight: $bold-weight;
        padding: 25px 0;
    }
    &-btns{
        display: flex;
        button{
            @include btn();
            font-family: $font-family;
            cursor: pointer;
        }
        .click-btn{
            button{
                width: 141px;
                color: $text-color;
                margin-right: 20px;
            }
            button:hover{
                background-color: #c6c7c8;
                transition: background-color 0.25s;
            }
        }
        .look-btn{
            button{
                width: 158px;
                background-color: $text-color;
            }
            button:hover{
                background-color: #373b3e;
                transition: background-color 0.25s;
            }
        }
    }
    &-bottom{
        iframe{
            width: 100%;
            height: 65vh;
        }
    }
}

// FOOTER SECTION
.footer{
    height: 40vh;
    @include column();
    &-top{
        display: flex;
        .media-link{
            cursor: pointer;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: $back-color;
            margin-right: 12px;
            @include column();
            .fa-brands{
                font-size: 22px;
                color: #fff;
            }
        }
        .media-link:hover{
            background-color: #17667f;
            transition: background-color 0.25s;
        }
    }
    &-bottom{
        text-align: center;
        padding-top: 40px;
        font-size: 14px;
        color: #6c757d !important;
        font-weight: 400;
    }
}